* {
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, black, rgb(109, 119, 111), black);
    animation: animateBody 2s 1s ease infinite;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes animateBody {
    20% {
        background: linear-gradient(120deg, black, rgb(21, 37, 24), black);
    }

    40% {
        background: linear-gradient(120deg, black, rgb(31, 58, 36), black);
    }

    60% {
        background: linear-gradient(120deg, black, rgb(36, 75, 43), black);
    }

    80% {
        background: linear-gradient(120deg, black, rgb(37, 87, 47), black);
    }
}

.container {
    width: 350px;
    height: 500px;
    background: linear-gradient(70deg, rgb(20, 20, 20), rgb(44, 44, 44), rgb(29, 29, 29), rgb(53, 52, 52), rgb(20, 20, 20));
    border: 3px solid rgb(143, 138, 138);
    box-shadow: 0 0 20px rgb(226, 226, 226);
    border-radius: 13px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: animateCont 2s 1s ease infinite;
}

@keyframes animateCont {
    20% {
        box-shadow: 0 0 5px rgb(110, 103, 103);
        transform: translate(.7px);
    }

    40% {
        box-shadow: 0 0 10px rgb(226, 226, 226);
        transform: translate(1.4px);
    }

    60% {
        box-shadow: 0 0 15px rgb(226, 226, 226);
        transform: translate(2.1px);
    }

    80% {
        box-shadow: 0 0 20px rgb(226, 226, 226);
        transform: translate(2.8px);
    }
}

h1 {
    color: rgb(112, 112, 112);
    padding: .4em 0 0 0;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    pointer-events: none;
}

p {
    color: rgb(112, 112, 112);
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    padding-bottom: 3em;

}

.disc {
    width: 170px;
    height: 170px;
    background: url(images/img3.jpg);
    background-size: contain;
    border-radius: 100%;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.08);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}

.disc.play {
    animation: rotateImg 11s linear infinite;
}

@keyframes rotateImg {
    100% {
        transform: rotate(1turn);
    }
}

.middle-disc {
    position: absolute;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: linear-gradient(120deg, rgb(109, 119, 111), black, rgb(109, 119, 111));
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.rangeTime-container {
    width: 100%;
    margin-bottom: 2em;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: rgb(96, 148, 106);
    overflow: hidden;
    border: none;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 3px;
    height: 5px;
    background: rgb(167, 167, 167);
    box-shadow: -400px 0 0 397px rgb(0, 0, 0);
}

.time-container {
    display: flex;
    justify-content: space-between;
    color: rgb(112, 112, 112);
}

label {
    font-size: .85em;
}

.shuffleRepeatPlay-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5em 0 .5em;
}

.nextPrvPlayBtn-container {
    display: flex;
    /* grid-template-columns: 65px 65px 65px; */
    width: 160px;
    justify-content: space-between;
    align-items: center;

}

.play-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: playBorder 2s linear infinite;
    background: white;
}

button {
    font-size: 1.8em;
    font-weight: bold;
    border: none;
}

button.play {
    font-size: .8em;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    width: 2.2em;
    height: 2.6em;
    background: linear-gradient(120deg, rgb(109, 119, 111), black, rgb(109, 119, 111));
    border: none;
}

@keyframes playBorder {
    0% {
        box-shadow: 0;
    }

    10% {
        box-shadow: 0 0 0 1.6px rgba(255, 255, 255, 0.08);
    }

    20% {
        box-shadow: 0 0 0 3.2px rgba(255, 255, 255, 0.08);
    }

    30% {
        box-shadow: 0 0 0 4.8px rgba(255, 255, 255, 0.08);
    }

    40% {
        box-shadow: 0 0 0 6.4px rgba(255, 255, 255, 0.08);
    }

    50% {
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.08);
    }

    60% {
        box-shadow: 0 0 0 6.4px rgba(255, 255, 255, 0.08);
    }

    70% {
        box-shadow: 0 0 0 4.8px rgba(255, 255, 255, 0.08);
    }

    80% {
        box-shadow: 0 0 0 3.2px rgba(255, 255, 255, 0.08);
    }

    90% {
        box-shadow: 0 0 0 1.6px rgba(255, 255, 255, 0.08);
    }

    100% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.08);
    }
}

img {
    width: 1.7em;
    height: 1.1em;
    border-radius: 5px;
    cursor: pointer;
}

img:active {
    opacity: .3;
    transform: translateY(-2px);
}

.prevNextBtn {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.repeat-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.repeat-container:active {
    opacity: .3;
    transform: translateY(-2px);
}

.count-repeat {
    position: absolute;
    display: flex;
    text-align: center;
    top: 3.1px;
    left: 10px;
    font-size: 13px;
    text-shadow: 0px 1px 1px white;
    display: none;
}

hr {
    position: absolute;
    width: 2em;
    height: 2px;
    background: black;
    border: none;
    transform: rotate(28deg);
    box-shadow: 0 0 0 1px white;
    border-radius: 20px;
    display: none;
}