button {
    background-color: white;
    color: white;
    border: 1px solid #333;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 30px;
    height: 40px;
    width: 40px;
    text-align: center;
    /* transition: all 0.4s linear; */
    position: absolute;
    outline: none;
}

div {
    width: 122px;
    height: 122px;
    position: relative;
    /* background-color: red; */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

[data-long] {
    background-color: #424242;
    z-index: 1;
}

.top,
.right,
.bottom,
.left {
    position: absolute;
    transform: translateX(0, 0);
    opacity: 0.1;
}

.top.go {
    animation: animateMoveTop 0.1s 0.8s linear 1 forwards;
}

.right.go {
    animation: animateMoveRight 0.1s 0.8s linear 1 forwards;
}

.bottom.go {
    animation: animateMoveBottom 0.1s 0.8s linear 1 forwards;
}